<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Angular Logo"
    src="assets/banner.png"
  />
  <strong>Labs</strong>
</div>
<div class="main-container">
<div class="card-container">
  <div class="card">
    <strong>Search by Zip</strong>
    <input type="text" id="zip" name="zip" #zip><br>
    <button (click)="onSearch(zip.value)">Search</button>
  </div>
</div>
<div class="card-container">
  <div class="card">
    <strong>Search by State</strong>
    <select (change)=onStateSearch($event)>
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
    <!-- <button (click)="onStateSearch(state)">Search</button> -->
  </div>
</div>
<h1>Results</h1>
<ul *ngIf="brews">
  <li *ngFor="let result of brews">
    <a href="{{result.website_url}}">
      <p class="name">{{result.name}}</p>
      <p class="country">{{result.street}}</p>
      <p>{{result.city}}, {{result.state}} {{result.zip}}</p>
    </a>
  </li>
</ul>
</div>
<router-outlet></router-outlet>
